.container
  %table.table
    %tr
      %th
        Anmeldung
      %th
        Name
      %th
        Essen
      %th
        Kommentar
      %th
        Hotel?
      %th
        BBQ?
    - @registrations.each do |registration|
      - registration.registration_entries.each do |entry|
        %tr
          %td
            = entry.registration_id
          %td
            = entry.name
          %td
            = entry.food_selection
          %td
            = entry.comment
          %td
            = registration.is_with_hotel_booking
          %td
            = entry.all_days