#contact
  .container.py-3
    .h1
      Kontakt
    .card.border-primary.h-100
      .card-body
        .w-100.d-flex.justify-content-end
          = image_tag('love_letter.webp', id: 'love-letter-icon')
        Falls noch irgendwelche Fragen offen sind, zögere nicht unser "Team Wedding" zu kontaktieren!
        %strong
          Unterhaltungsbeiträge z.B. beim Abendessen müssen unbedingt vorher abgesprochen werden.
        Wendet euch dafür bitte an Luise. Vielen Dank!
        .card-group.py-3
          .card
            = image_tag('contact/photo1718568235.webp', class: 'card-img-top')
            .card-body
              .h5.card-title
                Paula Ammann
              .h6.card-subtitle.mb-2.text-body-secondary
                Josepha's Trauzeugin
          .card
            = image_tag('contact/photo1718568695.webp', class: 'card-img-top')
            .card-body
              .h5.card-title
                Josepha Elliesen
              .h6.card-subtitle.mb-2.text-body-secondary
                Braut
          .card
            = image_tag('contact/IMG20240530200040.webp', class: 'card-img-top')
            .card-body
              .h5.card-title
                Felix von Tiedemann
              .h6.card-subtitle.mb-2.text-body-secondary
                Bräutigam
          .card
            = image_tag('contact/IMG20240525151619.webp', class: 'card-img-top')
            .card-body
              .h5.card-title
                Luise von Tiedemann
              .h6.card-subtitle.mb-2.text-body-secondary
                Felix Trauzeugin