#rsvp
  .container.py-3
    .h1
      Anmeldung
    .card.border-primary.h-100
      .card-body
        = simple_form_for @registration do |f|
          = f.fields_for :registration_entries do |entry|
            = render 'registration_entry_fields', f: entry
          .links.my-3
            = link_to_add_association f, :registration_entries, class: 'btn btn-primary' do
              = '+ Person Hinzufügen'
          
          %p
            Im Hotel haben wir bereits Zimmer für euch reserviert. Falls ihr ein Hotelzimmer direkt
            buchen wollt, füllt einfach die Hotelinformationen aus. Ihr erhaltet dann nach ein paar
            Stunden eine Bestätigung vom Hotel per Email. Änderungen sind dann nur noch telefonisch
            direkt mit dem Hotel möglich.
          %p
            Kosten:
            %br
            154€/Nacht im Einzelzimmer. 179€/Nacht im Doppelzimmer. Inklusive Frühstück, WLAN und Wellness. Inklusive Mehrwertsteuer.
          %p
            Stornobedingungen:
            %br
            Die Reservierung kann bis 42 Tage vor der Anreise kostenfrei storniert werden. Spätere
            Stornierungen und Änderungen werden mit 90% des Gesamtbetrages in Rechnung gestellt. Bei
            Nicht-Anreisen werden 95% des Gesamtbetrages berechnet.
          = f.input :hotel_email
          .row
            .col-md
              = f.input :hotel_number_double_rooms
              = f.input :hotel_number_single_rooms
            .col-md
              = f.input :hotel_number_of_adults
              = f.input :hotel_number_of_children
            .col-md
              = f.input :hotel_start_date, html5: true
              = f.input :hotel_end_date, html5: true
          = f.input :hotel_comments, placeholder: 'z.B. Beistellbetten für Kinder'

          = f.submit 'Absenden', class: 'btn btn-primary mt-2'
