.container.py-3
  .h1
    Programm
  #time-line
    .row
      .col-1.timeline-time
      .col.timeline-content-wrapper
        .timeline-content
          .h3
            Freitag
    .row
      .col-1.timeline-time
        ab 17 Uhr
        = image_tag('travel')
      .col.timeline-content-wrapper
        .timeline-content
          .h5
            Anreise
          .h6.mb-2.text-body-secondary
            Benfeyweg 3, 37075 Göttingen
          %p
            Lasst uns das Hochzeitswochenende ganz entspannt einläuten! Wer mag, ist am Freitagabend herzlich zu einem lockeren Get Together bei Sabine und Andreas eingeladen. Es wird ein leckeres BBQ im Garten geben, wo ihr euch flexibel nach eurer Anreise dazu gesellen könnt. Kommt vorbei und genießt den Start ins Wochenende mit uns!
    .row
      .col-1.timeline-time
      .col.timeline-content-wrapper
        .timeline-content
          .h3
            Samstag
    .row
      .col-1.timeline-time
        11 Uhr
        = image_tag('church')
      .col.timeline-content-wrapper
        .timeline-content
          .h5
            Kirche
          .h6.mb-2.text-body-secondary
            Albani Kirche, Albanikirchhof 1A, 37073 Göttingen
          %p
            Lasst uns das Hochzeitswochenende ganz entspannt einläuten! Wer mag, ist am Freitagabend herzlich zu einem lockeren Get Together bei Sabine und Andreas eingeladen. Es wird ein leckeres BBQ im Garten geben, wo ihr euch flexibel nach eurer Anreise dazu gesellen könnt. Kommt vorbei und genießt den Start ins Wochenende mit uns!
    .row
      .col-1.timeline-time
        13 Uhr
        = image_tag('cake')
      .col.timeline-content-wrapper
        .timeline-content
          .h5
            Bubbles & Cake
          .h6.mb-2.text-body-secondary
            Hotel Freigeist Innenstadt, Berliner Str. 30, 37073 Göttingen
          %p
            Auf eine erfolgreiche Trauung muss angestoßen werden. Im Hotel gibt es Sekt und Kuchen, und wenn das Wetter mitspielt, feiern wir bei schöner Aussicht auf der Dachterrasse. Hier ist ein guter Moment für gemeinsame Bilder. 📸
    .row
      .col-1.timeline-time
        14 Uhr
        = image_tag('rainbow')
      .col.timeline-content-wrapper
        .timeline-content
          .h5
            Einmal durchatmen!
          .h6.mb-2.text-body-secondary
            = '-'
          %p
            Nutzt die Pause und sammelt neue Energie für die Feierlichkeiten am Abend. Hotelgästen steht der gesamte Wellnessbereich zur Verfügung 😉 Wer motiviert ist, kann in der Zeit die schöne Göttinger Altsadt erkunden.
    .row
      .col-1.timeline-time
        19 Uhr
        = image_tag('food')
      .col.timeline-content-wrapper
        .timeline-content
          .h5
            Festliches Abendessen
          .h6.mb-2.text-body-secondary
            Hotel Freigeist Innenstadt, Berliner Str. 30, 37073 Göttingen
          %p
            Am Abend erwartet euch ein festliches Dinner im Hotel. Die Köche des Intuu Restaurants werden uns ein spannendes Menü zaubern aus den Landesküchen von Japan und Südamerika.
    .row
      .col-1.timeline-time
        22 Uhr
        = image_tag('party')
      .col.timeline-content-wrapper
        .timeline-content
          .h5
            Party
          .h6.mb-2.text-body-secondary
            Hotel Freigeist Innenstadt, Berliner Str. 30, 37073 Göttingen
          %p
            Jetzt wird gefeiert! Nach dem Abendessen geht die Party los und wir tanzen, lachen und feiern bis die Füße schmerzen. Die Hotelparty endet offiziell um 4 Uhr, aber wer noch nicht genug hat, kann mit uns im Savoy weiterfeiern. Let's fetz!
    .row
      .col-1.timeline-time
      .col.timeline-content-wrapper
        .timeline-content
          .h3
            Sonntag
    .row
      .col-1.timeline-time
        ab 9 Uhr
        = image_tag('muffin')
      .col.timeline-content-wrapper
        .timeline-content
          .h5
            Gemeinsames Frühstück
          .h6.mb-2.text-body-secondary
            Hotel Freigeist Innenstadt, Berliner Str. 30, 37073 Göttingen
          %p
            Lasst uns zusammen in den neuen Tag starten. Nach einer langen Nacht lassen wir das Wochenende gemütlich ausklingen. Am Sonntagmorgen laden wir euch zu einem gemeinsamen Frühstück im Hotel ein, bevor wir uns wieder auf den Heimweg machen.
