#head-wrapper
  #hero-head
    .image-stack
      #blue-box.border.border-primary.border-2
        .h1
          Josepha & Felix
        .byline
          heiraten
      = image_tag('flower_overlay.png')
    .scroll-down
  #wave
    = image_tag('wave-in.svg')

#content
  .bg-primary
    .container.py-3
      .text-center.py-5
        .h1
          7. Juni 2025
        .h3
          Albani Kirche & Hotel Freigeist Innenstadt
        .h3  
          Göttingen
      .row.align-items-center.py-5
        .col-md-3
          .h1
            Noch
            = (@start_date - Time.now.to_date).to_i
            Tage
          
          = button_to 'Anmeldung', root_path(anchor: :rsvp), class: 'btn btn-dark btn-lg my-2', method: :get, data: { turbo: false }
          = button_to 'Hotel buchen', 'https://www.freigeist-hotels.de/de/freigeist-hotels/freigeist-goettingen-innenstadt/', class: 'btn btn-dark btn-lg my-2', target: '_blank'
        .col-md
          .card
            .card-body
              .h2
                Liebe Freunde und Familie,
              %p
                wir freuen uns unglaublich, diesen besonderen Moment mit euch zu teilen. Am 7.6.2025 möchten wir unseren großen Tag feiern und es wäre uns eine Ehre, wenn ihr dabei seid.
              %p
                Um die Planung für uns ein wenig einfacher zu gestalten, bitten wir euch, euch hier auf unserer Website für die Hochzeit anzumelden (RSVP). Hier findet ihr alle wichtigen Informationen zu unserer Feier, einschließlich Ort, Zeitplan und Unterkunftsmöglichkeiten.
              %p
                Eure Anwesenheit bedeutet uns sehr viel und wir können es kaum erwarten, diesen besonderen Tag gemeinsam mit euch zu verbringen.
              %p
                Herzlichst,
              .h2
                Josepha & Felix
            
  #wave
    = image_tag('wave-out.svg')
  
= render partial: 'travel_and_hotel'
= render partial: 'timeline'
= render partial: 'gifts'
= render partial: 'rsvp'

.row.align-items-center.py-4
  .col
    %hr.border.border-primary
  .col-1
    = image_tag('icon', class: 'w-100')
  .col-1
    %hr.border.border-primary
