#head-wrapper
  #hero-head
    .image-stack
      #blue-box.border.border-primary.border-2
        .h1
          Josepha & Felix
        .byline
          heiraten
      = image_tag('flower_overlay.webp')
    .scroll-down
  #wave
    %svg{"enable-background" => "new 0 0 2560 168.6227", space: "preserve", version: "1.1", viewbox: "0 0 2560 168.6227", x: "0px", xmlns: "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", y: "0px"}
      %path{d: "M2560,0c0,0-219.6543,165.951-730.788,124.0771c-383.3156-31.4028-827.2138-96.9514-1244.7139-96.9514c-212.5106,0-439,3.5-584.4982,1.5844l0,139.9126h2560V0z", fill: "#174e9d"}

#content
  .bg-primary
    .container.py-3
      .text-center.py-md-5
        .h1
          7. Juni 2025
        .h5.text-decoration-line
          Noch
          = (@start_date - Time.now.to_date).to_i
          Tage
        .h3
          Albani Kirche & Hotel Freigeist Innenstadt
        .h3  
          Göttingen
      .align-items-center.pb-5
        .card
          .card-body
            .h3
              Liebe Freunde und Familie,
            %p
              wir freuen uns unglaublich, diesen besonderen Moment mit euch teilen zu dürfen. Am 7.6.2025 möchten wir unseren großen Tag feiern und es wäre uns eine Ehre, wenn ihr dabei seid.
            %p
              Um die Planung für uns ein wenig einfacher zu gestalten, bitten wir euch, euch hier auf unserer Website für die Hochzeit anzumelden (RSVP). Hier findet ihr außerdem alle wichtigen Informationen zu unserer Feier, einschließlich Ort, Zeitplan und Unterkunftsmöglichkeiten.
            %p
              Eure Anwesenheit bedeutet uns sehr viel und wir können es kaum erwarten, diesen besonderen Tag gemeinsam mit euch zu verbringen.
            %p
              Herzlichst,
            .h3
              Josepha & Felix
            
  #wave
    %svg.bg-white-svg{"enable-background" => "new 0 0 2560 168.6227", space: "preserve", version: "1.1", viewbox: "0 0 2560 168.6227", x: "0px", xmlns: "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", y: "0px"}
      %g{transform: "scale(-1, -1) translate(-2560, -168.6227)"}
        %path{d: "M2560,0c0,0-219.6543,165.951-730.788,124.0771c-383.3156-31.4028-827.2138-96.9514-1244.7139-96.9514c-212.5106,0-439,3.5-584.4982,1.5844l0,139.9126h2560V0z", fill: "#174e9d"}
  
= render partial: 'travel_and_hotel'
= render partial: 'timeline'
= render partial: 'gifts'
= render partial: 'rsvp'
= render partial: 'contact'

.container.py-3
  .row.align-items-center
    .col
      %hr.border.border-primary
    .col-lg-1.col-3
      = image_tag('icon.webp', class: 'w-100')
    .col-1
      %hr.border.border-primary
