#head-wrapper
  #hero-head
    .image-stack
      = image_tag('Vorderseite.png')
      #blue-box
        .h1
          Josepha & Felix
        .text-end
          heiraten
  #wave
    = image_tag('wave-in.svg')

#content
  .bg-rose
    .container.py-3
      .text-center.py-5
        .h1
          7. Juni 2025
        .h3
          Albani Kirche & Hotel Freigeist
        .h3  
          Göttingen
      .row.py-5
        .col
          .text-center
            .h1
              Noch 5 Tage
        .col-2
          .text-center
            %button.btn.btn-outline-primary.btn-lg
              Anmeldung
        .col-2
          .text-center
            %button.btn.btn-outline-primary.btn-lg
              Hotel
      .card
        .card-body
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
  #wave
    = image_tag('wave-out.svg')
  
#time-line.container.py-3
  .text-center
    .h1
      Programm
    .h3
      Feitag
  .row.py-3
    .col.d-flex.flex-column.justify-content-center.align-items-center
      .h1
        ab 17 Uhr
      = image_tag('travel')
    .col
      .card
        .card-body
          .h5.card-title
            Anreise
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita 
  .text-center
    .h3
      Samstag
  .row.py-3
    .col
      .card
        .card-body
          .h5.card-title
            Kirche
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita 
    .col.d-flex.flex-column.justify-content-center.align-items-center
      .h1
        11 Uhr
      = image_tag('church')
  .row.py-3
    .col.d-flex.flex-column.justify-content-center.align-items-center
      .h1
        13 Uhr
      = image_tag('cake')
    .col
      .card
        .card-body
          .h5.card-title
            Bubbles & Cake
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita 

.text-center
  = image_tag('icon.png')
