!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Josepha & Felix - Heiraten!
    = csrf_meta_tags
    = csp_meta_tag

    = favicon_link_tag asset_path('icon.webp')

    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}

    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_importmap_tags
  %body.bg-white
    .container-fluid{id: :flashbox }
      - flash.each do |key, value|
        .alert.alert-dismissible.mt-3{class: "alert-#{key}", role: 'alert'}
          = value
          %button.btn-close.close{data: {bs: {dismiss: 'alert'}}, aria: {label: 'Close'}, type: 'button'}
    = yield